.wrap {
	margin: 20px 0;
}
.data-summary {
	font-size: 14px;
}
.data-summary h4 {
	margin: 5px 0;
	padding: 0 5px 0 10px;
	border-left: 3px solid #b00;
	font-size: 14px;
	font-weight: 700;
}
.data-summary h4 span.more {
	float: right;
	line-height: 24px;
	font-size: 12px;
	color: #999;
}
.menu,
.am-panel-bd .sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 14px;
	color: #999;
}
.menu .menu-item {
	float: left;
	padding: 3px 5px;
	text-align: center;
}
.menu .menu-item a,
.am-panel-bd .sidebar-menu li a {
	display: block;
	text-decoration: none;
}

.am-panel-bd .sidebar-menu li {
	margin: 0;
	padding: 0;
	/*border-bottom: 1px solid #ccc;*/
}
.am-panel-bd .sidebar-menu li.am-active,
.am-panel-bd .sidebar-menu li.active {
	background: #0e90d2;
}
.am-panel-bd .sidebar-menu li:last-child {
	border-bottom: none;
}
.am-panel-bd .sidebar-menu li a {
	padding: 5px;
}
.am-panel-bd .sidebar-menu li.am-active a,
.am-panel-bd .sidebar-menu li.active a
{
	color: #fff;
}
.am-panel-bd .sidebar-menu li a:hover {
	background: #ccc;
	color:#0e90d2;
}

.sidebar-nav {
	font-size: 1.4rem;
}
.sidebar-nav .md-toc>li:before {
	content:  counter(toc-1) '. ';
}
.sidebar-nav .md-toc>li:before {
	color:#8c8c8c;
}
.sidebar-nav .md-toc>li>ul>li:before {
	content: counter(toc-1) '.' counter(toc-2) ' ';
}
.sidebar-nav .md-toc {
	counter-reset: toc-1;
	margin-bottom: 0;
}
.sidebar-nav>ul {
	padding: 0;
}
.sidebar-nav .md-toc>li {
	line-height: 1.8;
	counter-increment: toc-1;
}
.sidebar-nav .md-toc>li>ul>li {
	counter-increment: toc-2;
}
.sidebar-nav .md-toc>li>ul {
	counter-reset: toc-2;
}
.sidebar-nav .md-toc ul {
	margin-top: 5px;
}
.sidebar-nav .md-toc li {
	list-style: none;
}
.sidebar-nav .md-toc ul a {
	color: #555;
}



.action-column {
	font-size: 14px;
}
.action-column a.text-warning {
	color: red;
}
.am-table td {
	color: #999;
}
#map-index {
	margin: 0;
	padding: 0;
	position: relative;
}
#map-index #baidu_map_container {
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin:0;
	font-family:"微软雅黑";
}
#map-index .contents-info {
	margin-top: 15px;
}
#map-index .contents-info .contents-summary h2 {
	margin: 0;
	padding: 0;
}
#map-index .contents-info .contents-summary h2 span {
	margin: 0 8px;
	color: red;
}